.icon-search,
.icon-share,
.icon-shopping-bag
	cursor: pointer
.button
	display: flex
	justify-content: center
	align-items: center
	width: 194px
	height: 56px
	background: $black
	color: $white
	font-size: 11px
	text:
		transform: uppercase
		decoration: none
	&:hover
		background-color: lighten($black, 10%)
