@media(max-width: 1200px)
	.slider
		&-descr
			width: 60%
@media(max-width: 992px)
	.slider
		&-descr
			width: 70%
@media(max-width: 768px)
	.slider
		&-descr
			width: 100%
@media(max-width: 576px)
	.slider
		&-info
			width: 90%
		&-title
			font-size: 46px
		&-item
			&__img
				&1
					background: url('../img/slider/mobile/img1.jpg') center no-repeat
				&3
					background: url('../img/slider/mobile/img3.jpg') center no-repeat
					background-size: cover