@media(max-width: 992px)
	.slider-controls
		.control-slide:hover
			background: $white
	.prew:hover
		background: url(../img/slider/arrow-left.png) 47% 50% no-repeat
	.next:hover
		background: url(../img/slider/arrow-right.png) 52% 50% no-repeat
@media(max-width: 576px)
	.slider
		.slide
			&_img
				&1
					background: url(../img/slider/mobile/img1.jpg) 
					background-size: cover
				&3
					background: url(../img/slider/mobile/img3.jpg) 
					background-size: cover


