html,
body {
  margin: 0;
  font-family: 'Montserrat Reg', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slider-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider .slide {
  width: 100%;
  height: 100%;
}

.slider .slide_img1 {
  background: url("../img/slider/img1.jpg");
  background-size: cover;
}

.slider .slide_img2 {
  background: url("../img/slider/img2.jpg");
  background-size: cover;
}

.slider .slide_img3 {
  background: url("../img/slider/img3.jpg");
  background-size: cover;
}

.slider-controls {
  position: absolute;
  left: 21%;
  bottom: 34px;
}

.slider-controls .control-slide {
  margin-right: 7px;
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  text-indent: -9999px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: background 0.8s ease-out 0s;
  transition: background 0.8s ease-out 0s;
}

.slider-controls .control-slide:hover {
  background: #cccccc;
}

.slider-controls .control-slide.active {
  background: #000;
  -webkit-transition: background 0.8s ease-out 0s;
  transition: background 0.8s ease-out 0s;
}

.slider .container {
  position: relative;
  top: 37%;
  width: 57%;
  margin: 0 auto;
}

.slider__title {
  margin-bottom: 24px;
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  color: #161918;
}

.slider__descr {
  width: 40%;
  margin-bottom: 47px;
  font-size: 13px;
  color: #7f7f7f;
}

.prew,
.next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  text-indent: -999px;
  background: url("../img/slider/arrow-left.png") 47% 50% no-repeat;
  opacity: 1;
  z-index: 3;
  border: 4px solid #fff;
  border-radius: 50%;
}

.prew {
  left: 15px;
}

.prew:hover {
  background: #292929 url("../img/slider/arrow-left.png") 47% 50% no-repeat;
  -webkit-transition: background 0.8s ease-out 0s;
  transition: background 0.8s ease-out 0s;
}

.next {
  right: 15px;
  background: url("../img/slider/arrow-right.png") 52% 50% no-repeat;
}

.next:hover {
  background: #292929 url("../img/slider/arrow-right.png") 52% 50% no-repeat;
  -webkit-transition: background 0.8s ease-out 0s;
  transition: background 0.8s ease-out 0s;
}

.slider-content:hover .prew,
.slider-content:hover .next {
  display: block;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -100vw;
  width: 58%;
  height: 0;
  padding-bottom: 30px;
  padding-left: 105px;
  padding-right: 45px;
  background-color: #fff;
  z-index: 999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu_active {
  left: 50%;
  height: 100vh;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.menu_active .menu-list {
  height: auto;
}

.menu-list {
  width: 32%;
  height: 0;
  padding: 0;
  padding-top: 31px;
  list-style-type: none;
}

.menu-list li a {
  display: block;
  margin-bottom: 13px;
  color: #161918;
  text-decoration: none;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-list li a:hover {
  font-weight: 700;
}

.menu-list li .menu-link__title {
  margin-bottom: 24px;
  font-size: 12px;
  text-transform: uppercase;
}

.menu-link {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 12px;
  border-radius: 50%;
  z-index: 1000;
}

.menu-link span {
  position: absolute;
  top: 49%;
  left: 50%;
  margin-top: -1px;
  margin-left: -9px;
  display: block;
  height: 2px;
  width: 18px;
  background-color: #333;
}

.menu-link span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -9px;
  display: block;
  height: 2px;
  width: 18px;
  background-color: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-link span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 5px;
  margin-left: -9px;
  display: block;
  height: 2px;
  width: 18px;
  background-color: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-link_active span {
  background-color: transparent;
}

.menu-link_active span:before {
  top: -25px;
  margin-top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.menu-link_active span:after {
  top: -25px;
  margin-top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.icon-search,
.icon-share,
.icon-shopping-bag {
  cursor: pointer;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 194px;
  height: 56px;
  background: #000;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: #1a1a1a;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 35px;
  z-index: 9999;
}

.header .container {
  width: 57%;
  margin: 0 auto;
}

.header-top {
  padding-bottom: 26px;
  border-bottom: 1px solid #d4d4d4;
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top__item:first-child,
.header-top__item:last-child {
  width: 5.5%;
}

.header-search {
  display: none;
}

.header-logo {
  cursor: pointer;
}

.header-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 67%;
  margin: 0 auto;
  padding-top: 25px;
}

.header-bottom__link {
  color: #2f3131;
  font-family: 'Montserrat SemiBold', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 1400px) {
  .header-top__item:first-child,
  .header-top__item:last-child {
    width: 9%;
  }

  .header-bottom__list {
    width: 73%;
  }

  .slider__descr {
    width: 51%;
  }
}

@media (max-width: 1200px) {
  .header-bottom__list {
    width: 100%;
  }

  .slider__descr {
    width: 54%;
  }

  .menu-list {
    width: 39%;
  }
}

@media (max-width: 992px) {
  .slider-controls {
    left: 15%;
  }

  .slider-controls .control-slide:hover {
    background: #fff;
  }

  .slider .container {
    width: 70%;
  }

  .slider__descr {
    width: 57%;
  }

  .prew:hover {
    background: url("../img/slider/arrow-left.png") 47% 50% no-repeat;
  }

  .next:hover {
    background: url("../img/slider/arrow-right.png") 52% 50% no-repeat;
  }

  .header .container {
    width: 70%;
  }

  .menu {
    width: 75%;
  }

  .menu li a:hover {
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .header .container {
    width: 95%;
  }

  .slider .container {
    width: 95%;
  }

  .slider:hover .prew,
  .slider:hover .next {
    display: none;
  }

  .slider-controls {
    left: 3%;
  }

  .prew,
  .next {
    display: none;
  }

  .menu {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .slider .slide_img1 {
    background: url("../img/slider/mobile/img1.jpg");
    background-size: cover;
  }

  .slider .slide_img3 {
    background: url("../img/slider/mobile/img3.jpg");
    background-size: cover;
  }

  .slider .container {
    top: 30%;
  }

  .slider__title {
    font-size: 45px;
  }

  .slider__descr {
    width: 100%;
  }

  .header-bottom__list {
    display: none;
  }

  .header-top__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-top__item:first-child,
  .header-top__item:last-child {
    width: 17%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header-logo {
    width: 85%;
  }

  .menu {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-list {
    width: 100%;
    text-align: center;
  }
}